:root {
	--color-0: #ff22cc;
	--color-1: #ff78cc;
	--color-2: #8833ff
}
* {
	box-sizing: border-box;
	color: #111414;
	word-wrap: break-word;
	vertical-align: middle
}
html, body {
	margin: 0;
	padding: 0;
	font-size: 0.8em;
	background: #fafafa
}
a {
	text-decoration: none
}
.header {
	position: fixed;
	z-index: 32767
}